*{
  font-family: 'Roboto', sans-serif;
}
.content
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 5% 0;
  min-height: 200px;
  /* background-color: rgba(33, 33, 33, .3); */
  align-items: center;
}
.navContainer {
  display: flex;
  justify-content:space-between;
  padding: 10px 30px;
  /* color: aliceblue; */
  text-decoration: none;
  /* background: white; */
}

.iconbutton{
  color: black;
  font-size: 35px;
  /* background-color: white; */
  /* border: 1px solid wheat; */
  border-radius: 25px;
  padding: 10px 20px; 
}

.containers {
  background: white;
  color: black;
  height: auto;
  width: auto;
  padding: 30px;
  border-radius: 25px; 
  
}
.skillset{
  display: inline-flex;
}

.b{
  border: 1px solid black;
  /* display: inline-block; */
  /* clear: left; */
  /* float: left; */
  /* display: inline-flex; */
}

.br {
  border: 1px solid red;
}

.leftnav{
  border: 1px solid wheat;
  background: white;
  border-radius: 100px;
}
.NL{
  text-decoration: none;
  color: black;
}

.image{
  height:200px;
  width: 200px;
  border:8px solid rgb(255, 236, 211);
  background-image:url('https://avatars1.githubusercontent.com/u/32408813?s=460&u=6a7fc6dcd66e003b25bbfc9f2ed9cb366b13eec3&v=4');
  background-size: cover;
  transition: width 2s, height 2s;


}

.image:hover{
  height: 250px;
  width: 250px;
}